@font-face {
    font-family: 'Gotham';
    src: url('./GothamFont/GothamMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root{
    --verde-oscuro: #16863d;
    --verde-claro: #1ed760;
    --negro: #191414;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 0;
    padding: 0;
}

a {
    color: var(--negro);
    text-decoration: none;
    font-size: 1rem;
    transition: .3s;
}

.left-navbar {
    padding: 30px;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    background-color: var(--verde-oscuro);
    color: var(--negro)
}

.logo {
    text-align: center;
}

.left-navbar a {
    display: block;
    text-align: center;
}

.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav a {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.nav a:hover{
    text-decoration: underline;
}

.nav a:nth-child(6) {
    margin-bottom: 0;
}

.footer a {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    transition: .3s;
}

.footer a:hover{
    background-color: black;
    color: white;
}

/* Main Section */ 

.main {
    padding: 30px;
    background-color: black;
    color: white;
    margin: 0;
    max-height: calc(100vh);
    overflow-x: hidden;
    overflow-y: scroll;
}

.main h1 {
     margin-bottom: 20px;
}

.main h1 span {
    color: var(--verde-claro)
}

.cancion img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.cancion {
    text-align: center;
    max-height: 40vh;
    margin-bottom: 20px;
    background: var(--verde-oscuro);
    border-radius: 1rem;
}

.img {
  text-align: center;
  margin-bottom: 20px;
}

.cancion h2 {
    font-size: 1.2rem;
    padding-left: 15px;
    margin-bottom: 10px;
    color: var(--verde-claro);
    text-align-last: left;
}

.cancion p {
    font-size: .8rem;
    padding-left: 15px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.canciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.audio audio{
  height: 35px;
  width: 100%;
  border-radius: none;
}

a.active {
  color: var(--verde-claro);
}